header{
  position: relative;
  background: white;
  padding: 0;
  margin: none;
  border-bottom: 1px solid #e72929;
}

a{
  color: #af1312;
}

a:hover{
  background: #e72929;
  color: white;
  cursor: pointer;
}

.container{
  margin: 0 auto;
  display: flex;
  justify-content:space-between;

}

a.logo{
  font-weight: bold;
  padding: 1rem;
  width: 100%;
  min-width: 10rem;
}

ul{
  display:flex;
  list-style-type: none;
  margin: 0;
}

ul a{
  padding: 1rem;
  display: inline-block;
}

.cart{
  background: #ff4d4d;
  color: white;
  padding: 0.1rem 0.5rem;
  border-radius: 100rem;
  font-size: 1rem;
  opacity: 0.8;
}

.logocart{
  color: white;
  border-radius: 100rem;
  font-size: 0.8rem;
}


.mark{
  background: #e72929;
  color: white;
  padding: 0.1rem 0.5rem 0.1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}

.menu-container{
  position: relative;
}

.menu{
  position:absolute;
  z-index:1;
  background: whitesmoke;
  display:none;
}

.menu-container:hover .menu{
  display: block;
}

.menu a{
  width: 100%;
  min-width: 8rem;
}
.tab-container{
  position:relative;
  align-items: center;
  justify-content: flex-start;
}

.logomenu{
  position:absolute;
  z-index: 1;
  background: whitesmoke;
  display:none;
}

.tab-container:hover .logomenu{
  display: block;
}

.logomenu a{
  width: 100%;
  min-width: 10rem;
}

ul, li .tab-container{
  margin: 0;
  padding: 0;
  }
