<header>
  <div class="container">
    <ul>
      <li class="tab-container">
        <a routerLink="/logo" class="logo"><span class="mark">≡</span> KFone</a>
        <div class="logomenu">
          <a routerLink="/devices">Devices</a>
          <a routerLink="/system">Services</a>
        </div>
      </li>
    </ul>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Rajitha</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart <span class="logocart">🛒 </span><span class="cart">3</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

